/*.o
/*.dSYM
/sslsplit
/sslsplit.test
/sslsplit.1
/sslsplit.conf
/sslsplit.conf.5
/extra/*.pyc
/extra/engine/*.dylib
/extra/engine/*.so
/extra/pki/dh*.param
/extra/pki/dsa.pem
/extra/pki/dsa.crt
/extra/pki/dsa.key
/extra/pki/dsa.param
/extra/pki/ec.pem
/extra/pki/ec.crt
/extra/pki/ec.key
/extra/pki/pwd.key
/extra/pki/rsa.pem
/extra/pki/rsa.crt
/extra/pki/rsa.key
/extra/pki/server.pem
/extra/pki/server.crt
/extra/pki/server.key
/extra/pki/targets/*
